Deploy/ADF/pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@{pipeline().parameters.BlobPath}",
								"type": "Expression"
							},
							"wildcardFileName": {
								"value": "@{pipeline().parameters.FileNameWildCards}",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "OracleFinanceJsonPayload_copy1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://eclf-dev1.fa.em2.oraclecloud.com/fscmRestApi/resources/11.13.18.05/invoices",
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"value": "item()",
									"type": "Expression"
								},
								"authentication": {
									"type": "Basic",
									"username": "egencia.invoices",
									"password": {
										"type": "SecureString",
										"value": "**********"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"BlobPath": {
				"type": "string"
			},
			"FileNameWildCards": {
				"type": "string"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}